<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="rs.itbootcamp.humanity.page.tests.LoginTestNG"/>
      <class name="rs.itbootcamp.humanity.page.tests.HumanityGetVersionTestNG"/>
      <class name="rs.itbootcamp.humanity.page.tests.GetSettingsTestNG"/>
      <class name="rs.itbootcamp.humanity.page.tests.SelectSettingsTestNG"/>
      <class name="rs.itbootcamp.humanity.page.tests.EmployeesListTestNG"/>
      <class name="rs.itbootcamp.humanity.page.tests.PhotoTestNG"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
